@font-face{
            font-family: "Android";
            src: url(fontes/idroid.otf), format(opentype);
            font-weight: normal;
            font-style: normal;
        }
        body{
            margin: 0%;
            background-color: #ece2d0;
            
        }
        #titulo{
            color: white;
            text-align: center;
            font-family: "Android";
        }
        header{
            background-color: #027333;
            padding: 1%;
            
        }
        #subtitulo{
            color: white;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1em;
        }
        nav{
            color: white;
            text-align: left;
            font-family: Arial, Helvetica, sans-serif;
            padding: 10px;
          
            
        }
        .Titulos{
            font-family: "Android";
            color: #027333;
        }
        main{
             background-color: white;
             max-width: 1000px;
             min-width: 300px;
             text-align: justify;
             box-shadow: 2px 2px rgba(0, 0, 0, 0.308);
             padding: 20px;
             margin: auto;

        }
        main p{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.2em;
            text-indent: 2em;
            line-height: 1em;
        }
        main a{
            color: #027333;
            text-decoration: none;
        }
        a:hover{
            text-decoration: underline;
            transition-duration: 1s;
        }
        .Subtitulos{
            font-family: "Android";
            color: #027333;
            background-image: linear-gradient(to left, white, #0273332c);
        }
        iframe{
            border-radius: 10px;
            display: flex;
            justify-content: center; /* Centraliza horizontalmente */
            align-items: center;     /* Centraliza verticalmente */

        }
        #irina img{
            border-radius: 5px;
        }
        aside{
            margin-left: 10%;
            margin-right: 10%;
            font-size: 0.9em;
            background-color: #bef7d3;
            border-radius: 5px;
        }
        aside h3{
            background-color: #027333;
            color: white;
            text-indent: 1em;
            border-radius: 5px 5px 0 0;
        }
        footer{
            background-color: #027333;
            color: white;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            padding: 1%;
        }
        nav a{
            color: white;
            text-decoration: none;
            margin-left: 2%;
        }
        nav a:hover{
            background-color: #22c267;
            text-decoration: none;
            padding: 1px;
            border-radius: 5px;
        }
        main img{
            width: 100%;
        }
        main img.pequena{
            max-width: 300px;
            display: block;
            margin: auto;
        }
        aside ul{
            list-style-position: inside;
            columns: 2;
            list-style-type: "\2714\00A0";
        }
        div.video{
            background-color: #027333;
            margin: 0px -20px 30px -20px;
            padding: 20px;
            padding-bottom: 50%;
            position: relative;
           
        
        }
        div.video iframe{
            position: absolute;
            top: 5%;
            left: 5%;
            width:  90%;
            height: 90%;
        }