@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
* {
    margin: 0px;
    padding: 0px;
}
:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
}

header > p{
    padding-bottom: 50px;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 2.5vw;
}

section.normal{
    background-color: white;
}
section.imagem{
    background-color: rgb(31, 29, 29);
    color: white;
}
section.imagem > p{
    display: inline-block;
    padding: 5px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.288);
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}